.container::before {
    content: "";
    background-image: url('/images/background_image.jpg');
    background-size: cover;
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    scroll-behavior: auto;
    opacity: 0.3;
}

h1 {
    position: relative;
    text-align: center;
    /* font-family: Cursive; */
}

.container .credits * {
    position: relative;
    display: inline-block;
}

.spoilers-button {
    display: inline-block;
    text-align: center;
}

#spoilers-button {
    display: inline-block;
    padding: 0.2em 1.45em;
    margin: auto;
    border: 0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    background-color: darkgreen;
    text-align: center;
    position: relative;
}

#spoilers-button:hover {
    border-color: #7a7a7a;
}

@media all and (max-width:30em) {
    #spoilers-button {
        display: block;
        margin: 0.2em auto;
    }
}

#start-route {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
}

@media all and (min-width:960px) and (max-width: 1024px) {
    button {
        min-width: 150px;
        min-height: 150px;
    }
    figure {
        min-width: 150px;
        min-height: 150px;
    }
    * {
        font-size: x-large;
    }
}

.next-path {
    position: relative;
    text-align: center;
    padding: 3px;
}

.exit-button {
    position: relative;
    box-sizing: border-box;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 0.6em;
    /* color: #e74c3c; */
    color: black;
    cursor: pointer;
    -ms-flex-item-align: center;
    align-self: center;
    /* font-size: 1rem; */
    font-weight: 400;
    line-height: 1;
    margin: auto;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.treasure-data-header {
    position: relative;
    /* font-family: Cursive; */
    color: black;
}

.settings div {
    position: relative;
    display: inline-block;
    text-align: center;
}

.credits {
    position: fixed;
    display: inline-block;
    bottom: 0%;
}

.credits * {
    position: relative;
    display: inline-block;
}